:root {
  /*sizes*/
  --size-8: 0.5rem;
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-25: 1.563rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-60: 3.75rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
  --size-200: 12.5rem;
  --header-height: 60px;
  --transition-speed: 250ms;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  outline: none;
  border: transparent;
  text-decoration: none;
}

.btn {
  all: unset;
  border: transparent;
  outline: none;
  background: transparent;
  display: inline-flex;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.container-lg {
  max-width: 1240px;
}
