:root {
  /*sizes*/
  --size-8: 0.5rem;
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-25: 1.563rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-60: 3.75rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
  --size-200: 12.5rem;
  --header-height: 60px;
  --transition-speed: 250ms;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  outline: none;
  border: transparent;
  text-decoration: none;
}

.btn {
  all: unset;
  border: transparent;
  outline: none;
  background: transparent;
  display: inline-flex;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.container-lg {
  max-width: 1240px;
}

.page-container {
  height: 100vh;
}

/* input fields */

.text-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-input input {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px inset rgba(0, 0, 0, 0.1);
  padding: 0.6rem;
}

/* Modals */

[data-modal] {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility var(--transition-speed) ease-in-out,
    opacity var(--transition-speed) ease-in-out;
}

[data-modal].active {
  opacity: 1;
  visibility: visible;
}

[data-modal] .modal-body {
  padding: 1rem;
  background-color: var(--modal-bg);
  color: var(--text-color);
  width: 672px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-20px);
  opacity: 0;
  transition-delay: 300ms;
  transition: opacity var(--transition-speed) ease-in-out,
    transform var(--transition-speed) ease-in-out;
}

[data-modal].active .modal-body {
  opacity: 1;
  transform: translateY(0);
}

[data-modal] .modal-body .text-input {
  width: 80%;
}

[data-modal] .phone-input-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

[data-modal] .phone-input-container .text-input {
  width: 80px;
}
